# put in web_docs folder
# make sure MultiViews is off

Options +FollowSymLinks
RewriteEngine on

RewriteRule ^api/items/([0-9]+)/?$ api/items.php?id=$1

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [L]

