# put in web_docs folder
# make sure MultiViews is off

Options +FollowSymLinks
RewriteEngine on

RewriteRule ^products/(c?[0-9]+)/?$ /source/controller/ProductServices.php?id=$1
RewriteRule ^orders/([0-9A-Za-z]+)$ /source/controller/OrderServices.php?id=$1
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [L]

